.chat-main
  .chat-main__RightHeader
    .chat-main__RightHeader__Group
      .chat-main__RightHeader__Group__GroupName
        = @group.name
      .chat-main__RightHeader__Group__MemberList
        Member :
        - @group.users.each do |user|
          = user.name
    = link_to 'Edit', edit_group_path(@group), class: 'chat-main__RightHeader__EditButton'

  .chat-main__MessageField
    = render @messages
    -# render @messagesという記述で部分テンプレートを呼び出しています。
    -# これは、以下のコードを省略した書き方
    -# インスタンス変数の名前を単数形にしたものと、
    -# 部分テンプレートの名前が同じならこのような省略をすることができます
  .chat-main__Footer
    = form_with model: [@group, @message], html: {class: "chat-main__Footer__Form"}, local: true do |f|
      .chat-main__Footer__Form__Contents
        = f.text_field :content, class: 'chat-main__Footer__Form__Contents__InputContent', placeholder: 'type a message'
        = f.label :image, class: 'chat-main__Footer__Form__Contents__InputImage' do
          = icon('far', 'image', class: 'chat-main__Footer__Form__Contents__InputImage__FormIcon')
          = f.file_field :image, class: 'chat-main__Footer__Form__Contents__InputImage__Hidden'
      = f.submit 'Send', class: 'chat-main__Footer__Form__Submit'
