.chat-SideBar
  .chat-SideBar__LeftHeader
    .chat-SideBar__LeftHeader__List
      .chat-SideBar__LeftHeader__List__UserName
        = current_user.name
      .chat-SideBar__LeftHeader__List__IconList
        = link_to = link_to new_group_path,class:'chat-SideBar__LeftHeader__List__IconList__Pen' do
          = icon('fa', 'edit')
        = link_to edit_user_path(current_user),class:"chat-SideBar__LeftHeader__List__IconList__Sharin" do
          = icon('fa','cog')

  .chat-SideBar__GroupList
    - current_user.groups.each do |group|
      .chat-SideBar__GroupList__Group
        = link_to group_messages_path(group) do
          .chat-SideBar__GroupList__Group__Name
            = group.name
          .chat-SideBar__GroupList__Group__Message
            = group.show_last_message